@charset "utf-8";

.sub_content{padding:0; width:100%;}
.goods_pick_list{display:none;}

/* 증분류 */
.goods_list_item_tit{display:none;}
.goods_list_item_tit + .list_item_category{margin:0; background:#f5f5f5; padding:20px 40px; border:none; margin-bottom:10px;}
.list_item_category ul{padding:0;}
.list_item_category ul li{width:auto; margin-right:50px;}
.list_item_category ul li:last-child{margin:0;}
.list_item_category ul li a{font-size:20px; color:#7A7A7A; padding:0; font-weight:300; line-height:1;}
.list_item_category ul li a em{display:none;}
.list_item_category ul li.on a{color:#000; font-weight:700;}
.list_item_category li a:hover{text-decoration:none; color:#000; font-weight:700;}

/* 전체상품 */
.goods_list_cont ul li{width:calc(33.3333% - 33.334px) ! important; margin:50px 50px 0 0;}
.goods_list_cont ul li:nth-of-type(3n){margin-right:0;}



.goods_list{padding:0;}
.goods_list_cont ul li{margin:43px 43px 0 0;}
.item_cont{padding:0;}
.item_photo_box{border:none; display:block ! important;}
.item_photo_box > a{padding:10px 38px 0;}
.item_photo_box img{width:100%;}
.item_photo_box .item_tit_box{padding:20px 0 0;}
.item_photo_box .item_tit_box .item_name{padding:0; font-size:22px; color:#000; font-weight:500; letter-spacing:-0.5px;text-align: center}
.item_photo_box .item_tit_box .item_e_name{font-size:14px; color:#595959; letter-spacing:-0.2px;text-align: center}
.item_info_cont{display:flex; flex-direction:column; justify-content:flex-end; padding:0; position:absolute; bottom:0; left:0; width:100%; height:0; z-index:1; padding:40px; box-sizing:border-box; opacity:0; transition:all 0.5s; visibility:hidden;}
.item_info_cont > a{display:block;}
.item_info_all{opacity:0; transition:all 0.3s; transition-delay:0.2s;}
.goods_list_cont ul li:hover .item_info_cont{height:100%; opacity:0.9; visibility:visible;}
.goods_list_cont ul li:hover .item_photo_box .item_tit_box {visibility: hidden}
.goods_list_cont ul li:hover .item_info_all{opacity:1;}
.goods_list_cont .color{margin:0;}
.goods_list_cont .color > div{position:absolute; top:0; left:0; width:100%; height:100%; z-index:-1; margin:0;}
.item_info_cont .item_tit_box .item_name_explain{font-size:16px; color:#000; letter-spacing:-0.3px;}
.item_info_cont .item_tit_box .item_name{font-size:25px; color:#000; letter-spacing:-0.5px;}
.item_info_cont .item_tit_box .item_e_name{font-size:13px; color:rgba(0,0,0,0.6); letter-spacing:-0.2px;}
.item_info_cont .item_money_box{padding:20px 0 0; font-size:0;}
.item_info_cont .item_money_box > *{display:inline-block; vertical-align:middle;}
.item_info_cont .item_money_box .discount-rate{font-size:20px; font-weight:bold; color:#000; margin-right:10px;}
.item_info_cont .item_money_box .item_price{padding:0; font-size:20px; color:#000;}
.item_info_cont .item_money_box .item_price .won{font-size:16px; font-weight:normal; display:inline-block; vertical-align:middle; margin-top:-2px;}
.item_info_cont .item_money_box .fixed_price{font-size:16px; color:rgba(0,0,0,0.6); margin-right:10px;}
.item_info_cont .item_link{position:static; display:block; margin-top:40px; height:auto; background:transparent; font-size:0;}
.item_info_cont .item_link > *{display:inline-block; vertical-align:top; width:calc(50% - 5px); box-sizing:border-box; margin-right:10px; border:1px solid #000; height:50px; line-height:48px; text-align:center; font-size:16px; color:#000; font-weight:500; letter-spacing:-0.5px;}
.item_info_cont .item_link button img{display:none;}
.item_info_cont .item_link .btn_basket_cart{margin:0;}
.item_info_cont .item_link .btn_basket_cart span{color:#000;}
.item_info_cont .item_link .buy_btn{background:#000; color:#fff;}
.item_info_cont .item_link > *:hover{border-color:#fff; color:#000;}
.item_info_cont .item_link >*{transition:all 0.3s; position:relative; overflow:hidden;}
.item_info_cont .item_link >* span{position:relative; z-index:1;}
.item_info_cont .item_link >*:before, .item_info_cont .item_link >*:after{content:''; display:block; position:absolute; top:0; left:0; bottom:0; right:-50px; border-bottom:50px solid #fff; border-right:50px solid transparent; transform:translateX(-100%); transition:all 0.3s;}
.item_info_cont .item_link >*:after{left:0; right:-50px; transform:translateX(100%); border:none; border-top:50px solid #fff; border-left:50px solid transparent;}
.item_info_cont .item_link >*:hover:before{transform:translateX(-48%);}
.item_info_cont .item_link >*:hover:after{transform:translateX(27%);}

/* ìƒ‰ìƒ ë°˜ì „ìš© */
.item_info_cont .item_info_all.font_b .item_tit_box .item_name_explain {color: #000;}
.item_info_cont .item_info_all.font_b .item_tit_box .item_name {color: #000;}
.item_info_cont .item_info_all.font_b .item_tit_box .item_e_name {color: #00000099;}
.item_info_cont .item_info_all.font_b .item_money_box .item_price {color: #000;}

.item_info_cont .item_info_all.font_w .item_tit_box .item_name_explain {color: rgba(255,255,255,.8);}
.item_info_cont .item_info_all.font_w .item_tit_box .item_name {color: #fff;}
.item_info_cont .item_info_all.font_w .item_tit_box .item_e_name {color: rgba(255,255,255,.8);font-weight: 300;}
.item_info_cont .item_info_all.font_w .item_money_box .item_price {color: #fff;}
.item_info_cont .item_info_all.font_w .item_money_box .item_price .won{font-weight: 300;}


/** íŽ˜ì´ì§• **/
.goods_list + .pagination{margin:0; border:none;}
.pagination{margin:70px 0 0;}
.pagination ul{padding:0;}
.pagination li.on, .pagination li.on:hover{border:none;}
.pagination li a, .pagination li span{width:33px; height:33px; box-sizing:border-box; border:1px solid transparent; line-height:31px; font-size:18px; color:#C9CACA; margin:0 7.5px;}
.pagination li.on a, .pagination li.on span{border-radius:0; border-color:#000; background:transparent; color:#000; font-weight:500;}
.pagination .btn_page_next, .pagination .btn_page_last, .pagination .btn_page_prev, .pagination .btn_page_first{margin:0; background:transparent; min-width:auto; border:none; padding:0 ! important;}
.pagination .btn_page_next a, .pagination .btn_page_last a, .pagination .btn_page_prev a, .pagination .btn_page_first a{font-size:0;}
.pagination .btn_page_next a{background:#fff url('../img/icon/icon_paging_next.png')no-repeat 50% 50%; width:10px;}
.pagination .btn_page_prev a{background:#fff url('../img/icon/icon_paging_prev.png')no-repeat 50% 50%; width:10px;}
.pagination .btn_page_last a{background:#fff url('../img/icon/icon_paging_last.png')no-repeat 50% 50%; width:16px;}
.pagination .btn_page_first a{background:#fff url('../img/icon/icon_paging_first.png')no-repeat 50% 50%; width:16px;}
